In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
### loading data set
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
## convertir gender to 0 or 1

label_encoder_gender=LabelEncoder()
data["Gender"]=label_encoder_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [12]:
## Onehot encode Geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder(sparse_output=False) 
geo_encoder = onehot_encoder_geo.fit_transform(data[["Geography"]])
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [13]:
geo_encoder_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
## combine all columns for dataset original data

data=pd.concat([data.drop("Geography",axis=1),geo_encoder_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
X=data.drop(['EstimatedSalary'],axis=1)
y=data['EstimatedSalary']

In [18]:
## split the data in training and prediction
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#scale theses features
scale=StandardScaler()
X_train=scale.fit_transform(X_train)
X_test=scale.transform(X_test)

In [19]:
with open('label_encoder_gender2.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('label_encoder_geo2.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler2.pkl','wb') as file:
    pickle.dump(scale,file)

In [23]:
## ANN Regression  Problem training
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),#HL1 Connected with input layer
    Dense(32,activation='relu'), # HL2
    Dense(1) ## out layer
])

## compile model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

/Users/macbookair/miniconda3/envs/coursai/lib/python3.12/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [25]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
## set up  the tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir="lregressionogs/fit/"+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [28]:
## Set up Early Stoping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [29]:
## Training the model
history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 775us/step - loss: 100393.2031 - mae: 100393.2031 - val_loss: 98576.2344 - val_mae: 98576.2344
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 537us/step - loss: 99848.0859 - mae: 99848.0859 - val_loss: 97463.5391 - val_mae: 97463.5391
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - loss: 97888.8672 - mae: 97888.8672 - val_loss: 94558.9609 - val_mae: 94558.9609
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step - loss: 93933.3047 - mae: 93933.3047 - val_loss: 89545.0547 - val_mae: 89545.0547
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - loss: 87935.9844 - mae: 87935.9844 - val_loss: 82748.6016 - val_mae: 82748.6016
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step - loss: 80408.4375 - mae: 80408.4375 - val_loss: 74958.1094 - val_mae: 74958.1094
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - loss: 72376.2344 - mae: 72376.2344 - val_loss: 67377.5391 - val_mae: 67377.5391
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - loss: 64902.0977 - mae: 64902.0977 - val_loss: 60747.0352 - val_mae: 60747.0352
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - loss: 58888.7461 - mae: 58888.7461 - val_loss: 55932.1719 - val_mae: 55932.1719
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - loss: 54786.5391 - mae: 54786.5391 - val_loss: 53085.6250 - val_mae: 53085.6250
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - loss: 52424.8555 - mae: 52424.8555 - val_loss: 51526.5000 - val_mae: 51526.5000
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - loss: 51196.3555 - mae: 51196.3555 - val_loss: 50879.2617 - val_mae: 50879.2617
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - loss: 50642.3242 - mae: 50642.3242 - val_loss: 50675.8086 - val_mae: 50675.8086
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - loss: 50395.9336 - mae: 50395.9336 - val_loss: 50581.1289 - val_mae: 50581.1289
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - loss: 50262.8945 - mae: 50262.8945 - val_loss: 50529.7930 - val_mae: 50529.7930
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - loss: 50180.8281 - mae: 50180.8281 - val_loss: 50488.2930 - val_mae: 50488.2930
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - loss: 50124.5898 - mae: 50124.5898 - val_loss: 50449.0586 - val_mae: 50449.0586
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - loss: 50074.8867 - mae: 50074.8867 - val_loss: 50429.1484 - val_mae: 50429.1484
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - loss: 50034.9062 - mae: 50034.9062 - val_loss: 50396.5508 - val_mae: 50396.5508
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - loss: 49998.0234 - mae: 49998.0234 - val_loss: 50371.1016 - val_mae: 50371.1016
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step - loss: 49965.2578 - mae: 49965.2578 - val_loss: 50342.8438 - val_mae: 50342.8438
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - loss: 49933.0195 - mae: 49933.0195 - val_loss: 50331.5586 - val_mae: 50331.5586
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - loss: 49906.5781 - mae: 49906.5781 - val_loss: 50327.1211 - val_mae: 50327.1211
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - loss: 49882.1758 - mae: 49882.1758 - val_loss: 50311.0156 - val_mae: 50311.0156
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - loss: 49855.6211 - mae: 49855.6211 - val_loss: 50291.7617 - val_mae: 50291.7617
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - loss: 49836.1758 - mae: 49836.1758 - val_loss: 50287.8438 - val_mae: 50287.8438
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - loss: 49814.8672 - mae: 49814.8672 - val_loss: 50275.3203 - val_mae: 50275.3203
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - loss: 49789.3047 - mae: 49789.3047 - val_loss: 50273.1680 - val_mae: 50273.1680
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - loss: 49774.5742 - mae: 49774.5742 - val_loss: 50260.9570 - val_mae: 50260.9570
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - loss: 49757.7812 - mae: 49757.7812 - val_loss: 50256.0000 - val_mae: 50256.0000
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - loss: 49738.4375 - mae: 49738.4375 - val_loss: 50253.3906 - val_mae: 50253.3906
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - loss: 49723.6914 - mae: 49723.6914 - val_loss: 50254.9531 - val_mae: 50254.9531
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - loss: 49708.8242 - mae: 49708.8242 - val_loss: 50240.0430 - val_mae: 50240.0430
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 49696.3281 - mae: 49696.3281 - val_loss: 50237.8711 - val_mae: 50237.8711
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - loss: 49684.5273 - mae: 49684.5273 - val_loss: 50236.8906 - val_mae: 50236.8906
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - loss: 49669.7852 - mae: 49669.7852 - val_loss: 50231.2070 - val_mae: 50231.2070
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - loss: 49658.7266 - mae: 49658.7266 - val_loss: 50228.8750 - val_mae: 50228.8750
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - loss: 49646.4648 - mae: 49646.4648 - val_loss: 50222.9492 - val_mae: 50222.9492
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - loss: 49636.1211 - mae: 49636.1211 - val_loss: 50230.1094 - val_mae: 50230.1094
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - loss: 49622.3047 - mae: 49622.3047 - val_loss: 50225.9805 - val_mae: 50225.9805
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - loss: 49613.8242 - mae: 49613.8242 - val_loss: 50217.1172 - val_mae: 50217.1172
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 49602.6523 - mae: 49602.6523 - val_loss: 50214.9492 - val_mae: 50214.9492
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - loss: 49592.1602 - mae: 49592.1602 - val_loss: 50218.5898 - val_mae: 50218.5898
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - loss: 49588.2305 - mae: 49588.2305 - val_loss: 50211.8477 - val_mae: 50211.8477
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - loss: 49579.1562 - mae: 49579.1562 - val_loss: 50212.8555 - val_mae: 50212.8555
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - loss: 49571.7188 - mae: 49571.7188 - val_loss: 50210.5898 - val_mae: 50210.5898
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step - loss: 49559.6211 - mae: 49559.6211 - val_loss: 50212.3750 - val_mae: 50212.3750
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 49552.2227 - mae: 49552.2227 - val_loss: 50209.4883 - val_mae: 50209.4883
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - loss: 49544.6484 - mae: 49544.6484 - val_loss: 50205.7773 - val_mae: 50205.7773
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - loss: 49540.5273 - mae: 49540.5273 - val_loss: 50204.6289 - val_mae: 50204.6289
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - loss: 49529.0391 - mae: 49529.0391 - val_loss: 50211.8164 - val_mae: 50211.8164
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - loss: 49522.4023 - mae: 49522.4023 - val_loss: 50213.0938 - val_mae: 50213.0938
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - loss: 49515.4141 - mae: 49515.4141 - val_loss: 50212.6172 - val_mae: 50212.6172
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - loss: 49508.0664 - mae: 49508.0664 - val_loss: 50222.6445 - val_mae: 50222.6445
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - loss: 49505.1055 - mae: 49505.1055 - val_loss: 50220.7656 - val_mae: 50220.7656
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - loss: 49496.7461 - mae: 49496.7461 - val_loss: 50219.1367 - val_mae: 50219.1367
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - loss: 49489.8750 - mae: 49489.8750 - val_loss: 50222.6250 - val_mae: 50222.6250
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - loss: 49484.5664 - mae: 49484.5664 - val_loss: 50226.4648 - val_mae: 50226.4648
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - loss: 49481.2852 - mae: 49481.2852 - val_loss: 50229.1406 - val_mae: 50229.1406
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - loss: 49471.2891 - mae: 49471.2891 - val_loss: 50223.6094 - val_mae: 50223.6094

In [30]:
## Evaluation du model
%load_ext tensorboard

In [40]:
%tensorboard --logdir lregressionogs/fit

Reusing TensorBoard on port 6010 (pid 77137), started 0:00:07 ago. (Use '!kill 77137' to kill it.)

In [46]:
## save model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.